@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
    ViewData["Title"] = "View Creata come Prova";
}
<div class="text-center">

    @for(int i=0; i<(int)ViewData["Num"]; i++)
    {
        
        <h1>Buongiorno</h1>

    }

</div>
